<% title 'Join the Team at Kingvale' %>
<% meta_tag :description, "Snow Schoolers instructors get 100% schedule flexibility, higher average earnings and tips, and access to modern client communication tools that allow you to cultivate a loyal following of clients." %>

    <section id="recruiting-landing-page" class="top-section">
        <ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
            <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://snowschoolers.s3.amazonaws.com/Kingvale-Sled-Hill-and-80-1280x853.jpg'); height: 100%; width: 100%;" data-href=""    
            </div>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 white-transparent-bg">
                    <div class="hidden-unless-mobile col-md-12">

                        <div id="recruiting-Carousel" class="carousel slide" data-ride="carousel">

                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#recruiting-Carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#recruiting-Carousel" data-slide-to="1"></li>
                            <li data-target="#recruiting-Carousel" data-slide-to="2"></li>
                          </ol>
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                              <h1 class="hw-blue-text center padding-top">Help us create magic at Tahoe's newest ski area!</h1>
                            </div>

                            <div class="item">
                              <h1 class="hw-blue-text center padding-top">Earn $17+ per hour (DOE).</h1>
                            </div>

                            <div class="item">
                              <h1 class="hw-blue-text center padding-top">
                                Previous winter sports experience strongly preferred.
                              </h1>
                            </div>

                          </div>

                        </div>

                        <div class="col-md-12 vertical-padding">
                          <h1 class="center white-text btn-apply btn-lg">
                            <a href="#recruiting-learn-more"> Learn More </a>
                          </h1>
                        </div>

                    </div>
                    <div class="col-md-12 padding-top hidden-unless-desktop">
                        <h1 class="center btn-apply-homewood btn-lg"> Join Kingvale as a Snowpark Associate!</h1>
                    </div>
                    <div class="col-md-12">
                        <%= render partial: 'applicants/form' %>
                    </div>
                </div>
                <div id="recruiting-learn-more" class="col-md-6 col-xs-12 black-transparent-bg">
                    <h1 class="center white-text"> Embrace the <b>ADVENTURE</b> and help us define the future of Kingvale.</h1>
                    <!-- <img src="https://s3.amazonaws.com/snowschoolers/images/tahoe-ski-bum.png" class="ski-bum-photo" alt="ski-bum-photo"> -->
                    <hr>
                    <h2 class="recruiting-ctas center white-text"> Earn at least $17/hr (DOE)</h2>
                    <h2 class="recruiting-ctas center white-text"> Enjoy free rentals & lessons</h2>
                    <!-- <h2 class="recruiting-ctas center white-text"> Teach at any of our partner ski areas.</h2> -->
                    <h2 class="recruiting-ctas center white-text"> Learn to wear any (and every) hat.</h2>
                    <hr>
                    <div class="blue-box-highlight">
                        <h1 class="center white-text">Job Requirements</h1>
                        <ul class="recruiting-ctas white-text"> 
                            <li>Attention to detail and willingness to learn.</li>
                            <li>Ability to work on your feet for extended periods of time.</li>
                            <li>Desire to share your love for Tahoe with all of our guests.</li>
                            <li>Previous resort experience recommended.</li>
                            <li>Full-time and part-time hours available. </li>
                        </ul>
                    </div>
                    <div id="spacer"></div>
                    <hr>
                    <img src="https://snowschoolers.s3.amazonaws.com/kingvale-sledding-wide.jpeg" class="ski-bum-photo" alt="lift operations photo">
                    <!-- <h2 class="recruiting-ctas center white-text"> #freelanceFreedom</h2> -->
                    <hr>
                    <h3 class="white-text center">                       
                    </h3>
                </div>
            </div>
        </div>
    </section>


    <section class="bg-white">
      <div class="container">
        <div class="col-md-9">
          <h1 class="center resorts-section-h1"><b> KINGVALE Overview </b> </h1>
          <ul class="resort-highlights">
            <li>Kingvale is the <b>closest snow play area to the Bay Area</b>. Right off of I-80 at exit 171, it's close enough for day trips, and well before Donner summit so you can usually get here without needing chains.</li>
            <li>Kingvale was one of Tahoe's original ski areas, founded in the 60's, but has gone through multiple ownership changes over the years. We're <b> reopening this winter </b> for skiing and snowboarding for the first time in decade!</li>
            <li> While much smaller</b> than nearyby resorts (such as Squaw or Northstar), Kingvale is great for families looking for an authentic introduction to winter sports, with <b> perfect terrain for first time</b> skiers and snowboarders.</li>
            <li>Like all Snow Schoolers locations, Kingvale offers <b>affordable skiing & sledding options</b> in Tahoe. Enjoy sledding for just $15, lift tickets for $50, and private lessons starting at only $80!</li>
            <li>We have very minimal indoor facilities, but since there's still a pandemic going on, we hope that's not what you're looking for anyhow. We do have a handful of propane heaters with outdoor seating, and plenty of hot cocoa from the food truck! </li>
            <li>All ski lift tickets include <b>free all-day sledding</b>. The sled hill is fully supervised with staff at the top and bottom to ensure the safety of both active sledders and unwitting bystanders.</li>
          </ul>
        </div>
        <div class="col-md-3">
          <img src="http://www.sierrasnowplay.com/photos/kingvale_snowplay.jpg" class="resort-highlights-img">
          <p class="center medium-text">
            More info at <a href="#Coming-Soon" class="navy-link">Kingvale.Snowschoolers.com</a>
          </p>            
        </div>  
        <hr>
        <div class="container text-center">
            <div class="call-to-action">
                   <a href="#apply" class="btn btn-primary btn-xl page-scroll">Apply Now</a>
                   <h4 class="white-text">
                    Questions? Email us at <a href="mailto:hello@snowschoolers.com">hello@snowschoolers.com</a>
                   </h4>

            </div>
        </div>
        <div class="buffer"></div>
      </div>
    </section>

        
</section>
 
<script src="//load.sumome.com/" data-sumo-site-id="a1fbda8d7365cdee08d4a5985659bb680581b2dd4281ce27f0f246ffaa655693" async="async"></script>
