<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Tahoe Ski Lessons is getting noticed!</h1>
    <p>
      Someone has begun to considering applying to join Tahoe Ski Lessons. <%= @name %> has just visited the instructor application page at www.snowschoolers.com/apply and entered their email as <%= @email %>.
    </p>
  </body>
</html>
