<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A new user has clicked through to Homewood cloudstore page for group lessons.
      Example URL: https://cloudstore.skihomewood.com/categories/children-s-lessons?utm_source=snow_schoolers&utm_campaign=snow_schoolers_home_page_referrals
    </p>
  </body>
</html>
