<ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
            <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3-us-west-1.amazonaws.com/snowsports/backcountry-jackson-hole-hero.jpg'); height: 100%; width: 100%;" data-href=""    
            </div>
</ul>

<div id="middle" class="container">
  <div class="white">

    <header class="page-header">
      <h3>Thanks <strong>for your interest in joining the community!</strong> </h3>
    </header>

      <div class="row">

        <div class="col-md-12" class="black-transparent-bg navy-text">

          <h4>We do have a <b>limited number</b> of Ikon passes available for new members. To increase your chances of being accepted, please consider spreading the word with other qualified instructors.</h4>
      
          <p>We will prioritize applications and passes for new members based on referrals, as outlined below. As such, please make sure your friend includes your email address in their application.</p>
          <ul class="list-icon check">
            <li><b> Gold:</b> 5 or more referred friends join the community. Guaranteed Ikon Pass (Unrestricted)</li>
            <li><b> Silver:</b> 3-4 referred friends join the community. Guaranteed Ikon Pass (Base Pass)</li>
            <li><b> Bronze:</b> 1-2 referred friends join the community. Guaranteed at least 50% off Ikon Base Pass</li>
          </ul>

          <hr class="deposit-hr-navy">

          <h4>Lastly, we will likely have a limited quantity of <b>employee housing</b> available for next winter. Please be sure to email us or let us know during your interview if you are interested in securing housing for next season.</h4>


        </div>
        <!-- /WHY? -->

      </div>


    <hr class="deposit-hr-navy">

    <!-- CALLOUT -->
    <div class="alert alert-default fade in">

      <div class="row">

        <div class="col-md-9 col-sm-8"><!-- left text -->
          <h4 class="nomargin"><strong>Contact Us</strong></h4>
          <p class="nomargin">
            If you have more questions to ask, please don't hesitate to reach out.
          </p>
        </div><!-- /left text -->


        <div class="col-md-3 col-sm-4 text-right"><!-- right btn -->
          <a href="mailto:hello@snowschoolers.com" target="_blank" class="amp-button">CONTACT US</a>
        </div><!-- /right btn -->

      </div>

    </div>
    <!-- /CALLOUT -->


  </div>
</div>


<!-- SLIDER -->

<ul id="slider">
  <li><img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/chamonix-skiing.jpg" alt="" /></li>
</ul>
<!-- /SLIDER