<section id="lesson-types" class="bg-primary bg-grey center-content schedule-granlinbakken">
      <div class="container">
        <h1 class="center resorts-section-h1">Compare Lesson Choices</h1>
        <div class="col-md-12">
         <!-- begin pricing schedule template -->
            <div class="snip1214">
              <div class="plan">
                <h3 class="plan-title">
                  2hr Groups
                </h3>
                <div class="plan-cost"><span class="plan-type">Starting at </span><span class="plan-price">$80</span></div>
                <ul class="plan-features">
                  <li><i class="ion-checkmark"> </i>Most affordable</li>
                  <li><i class="ion-checkmark"> </i>Afternoons 1:45-3:45pm</li>
                  <li><i class="ion-checkmark"> </i>Max of up to 6 students in a group</li>
                  <li><i class="ion-checkmark"> </i>Beginners Only</li>
                  <li><i class="ion-checkmark"> </i>Mixed ages (kids & adults usually separate)</li>
                  <li><i class="ion-checkmark"> </i>Lift ticket included</li>
                </ul>
                <div class="plan-select"><a href="/book/granlibakken">Book Now</a></div>
              </div>
              <div class="plan">
                <h3 class="plan-title">
                  1hr Privates
                </h3>
                <div class="plan-cost"><span class="plan-type">Starting at </span><span class="plan-price">$80</span></div>
                <ul class="plan-features">
                  <li><i class="ion-checkmark"> </i>Most popular</li>
                  <li><i class="ion-checkmark"> </i>Dedicated private instructor</li>
                  <li><i class="ion-checkmark"> </i>Flexible start times: <br>830am, 945am, 11am, or 1215pm </li>
                  <li><i class="ion-checkmark"> </i>Lift ticket included</li>
                  <li><i class="ion-checkmark"> </i>Add up to 4 friends or family members for +$40/pp</li>
                </ul>
                <div class="plan-select"><a href="/book/granlibakken">Book Now</a></div>
              </div>
              <div class="plan featured">
                <h3 class="plan-title">
                  Half-Day Privates
                </h3>
                <div class="plan-cost"><span class="plan-type">Starting at </span><span class="plan-price">$200</span></div>
                <ul class="plan-features">
                  <li><i class="ion-checkmark"> </i>Best value</li>
                  <li><i class="ion-checkmark"> </i>Dedicated private instructor</li>
                  <li><i class="ion-checkmark"> </i>Morning slot: 10am - 1245pm </li>
                  <li><i class="ion-checkmark"> </i>Afternoon slot: 115pm - 4pm </li>
                  <li><i class="ion-checkmark"> </i>Lift ticket included</li>
                  <li><i class="ion-checkmark"> </i>Add up to 4 friends or family members for +$40/pp</li>
                </ul>
                <div class="plan-select"><a href="/book/granlibakken">Book Now</a></div>
              </div>
              <div class="plan">
                <h3 class="plan-title">
                  Full-day Privates
                </h3>
                <div class="plan-cost"><span class="plan-type">Starting at </span><span class="plan-price">$350</span></div>
                <ul class="plan-features">
                  <li><i class="ion-checkmark"> </i>Most convenient</li>
                  <li><i class="ion-checkmark"> </i>Lesson time: 10am - 4pm </li>
                  <li><i class="ion-checkmark"> </i>Split up day as you wish (lunch & hot cocoa breaks, etc.) </li>
                  <li><i class="ion-checkmark"> </i>Lift ticket included</li>
                  <li><i class="ion-checkmark"> </i>Add up to 4 friends or family members for +$40/pp</li>
                </ul>
                <div class="plan-select"><a href="/book/granlibakken">Book Now</a></div>
              </div>
            </div>

        </div>
      </div>
</section>

<section class="bg-navy resorts-pdp-cta">
        <div class="row container price-details text-white">
            <h4 class='left'>
                All private lessons can include <b>up to 5 people</b>.                 
            </h4> 
            <h4 class='left'>
                To review the full pricing calendar for a given mountain, you must first click into the resort detail page (e.g. <a href="/granlibakken" class="green-link">Granlibakken</a> or <a href="/homewood" class="green-link">Homewood</a>).
            </h4>
            <h4 class="left alert-warning-pdp">ATTENTION: If you are interested in a midweek lesson (Tues-Thurs), we may have instructor availability but <b> ONLY </b> at Homewood. Please shoot us a quick email at <a href="mailto:hello@snowschoolers.com" class="green-link">hello@snowschoolers.com</a>, and we'll be happy to confirm availability and assist you with your reservation.
            <h4 class="left alert-warning-pdp hidden">ATTENTION: Due to unfavorable snow conditions, Granlibakken Ski Hill is temporarily closed, and so all lessons are currently taking place at Homewood. We expect Granlibakken to re-open on January 19th. If you would like to reserve a lesson at Granlibakken for the 19th or after, <a href=<%= root_path+"?granlibakken=true#book-a-lesson" %> class="green-link">please first click here to reload this page</a> and then proceed with your reservation.
                <br><br>
                If you have questions about the latest conditions forecast or if you need assistance rescheduling a previously booked lesson, please email us at <a href="mailto:hello@snowschoolers.com" class="green-link">hello@snowschoolers.com</a> or call us directly at <a href="tel:5304307669" class="green-link">530-430-SNOW</a>.</h4>            
        </div>
</section>