<% if Location.find(24).partner_status == 'Inactive' %>
    <% granlibakken_class = 'hidden' %>
  <% else %>
    <% granlibakken_class = '' %>
<% end %>
<section id="prices_simple" class="pricing-new-lesson">
    <div class="pricing-container">
          <% if (Product.where(location_id:8,length:"1.00",product_type:'private_lesson').first == nil || Product.where(location_id:24,length:"1.00",product_type:'private_lesson').first == nil) %>
          <h3 class='text-danger center'> Pricing Not Yet Available </h3>
          <% else %>
        <table class="col-lg-12 col-xs-12 pricing-table">
          <thead class="">
            <tr>
                <th class="center price-header" colspan="6">
                    <h1 class="navy-text">
                        <span>2018/19 PRIVATE LESSON RATES AT NISEKO</span>
                    </h1>
                    <h3 class="center navy-text">Book Early and Save over 50% Compared to Other Resorts</h3>
                </th>
            </tr>
            
            <tr class="price-schools">
              <th class="col-xs-2 text-warning center">*<%=Location.find(24).calendar_status %> pricing* </th>
              <!-- <th class="col-xs-2 text-warning center">*January Sale Pricing Until Jan 24th* </th> -->
              <th class="pricing-snowschoolers col-xs-2">Snow Schoolers </th>
              <th class="hidden-unless-desktop pricing-competitors-names">Fast Fun Japan </th>
              <th class="hidden-unless-desktop pricing-competitors-names">Go Snow</th>
            </tr>
          </thead>

          <tbody>
            <tr>
                <td class="grey-side-borders pricing-length pricing-grey-background">Early-bird (9-10am)</td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background">
                    $99 USD
                </td>
                <td class="hidden-unless-desktop grey-side-borders pricing-competitors pricing-grey-background">N/A</td>
                <td class="hidden-unless-desktop grey-side-borders pricing-competitors pricing-grey-background">N/A</td>
            </tr>
            <tr>
                <td class="grey-side-borders pricing-length">Half-day (10-12:45pm; 1:15-4pm)</td>
                <td class="grey-side-borders pricing-snowschoolers">
                    $199 USD
                </td>
                <td class="hidden-unless-desktop pricing-competitors">$300  </td>
                <td class="hidden-unless-desktop pricing-competitors">$450</td>
            </tr>
            <tr>
                <td class="grey-side-borders pricing-length pricing-grey-background">Full-day (10-4pm)</td>
                <td class="grey-side-borders pricing-snowschoolers pricing-grey-background"> $349 USD </td>
                <td class="hidden-unless-desktop grey-side-borders pricing-competitors pricing-grey-background">$600</td>
                <td class="hidden-unless-desktop grey-side-borders pricing-competitors pricing-grey-background">$550</td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <div class="row col-md-12 price-details">
            <h4 class='left'>
                All private lessons can include <b>up to 5 people</b>.                 
            </h4> 
                <br><br>
                If you have questions about the latest conditions forecast or if you need assistance rescheduling a previously booked lesson, please email us at <a href="mailto:hello@snowschoolers.com" class="green-link">hello@snowschoolers.com</a> or call us directly at <a href="tel:5304307669" class="green-link">530-430-SNOW</a>.</h4>            
        </div>
    </div>
</section>
