<div class="wage-rates-container">
    <h2> Base Pay Rates</h2>
    <ul class="wage-rates-details">
        <li> HTA Level 1 - $17 per hour</li>
        <li> PSIA-AASI Level 1 - $18 per hour</li>
        <li> PSIA-AASI Level 2 - $23 per hour</li>
        <li> PSIA-AASI Level 3 - $26 per hour</li>
    </ul>
    <h2> Incentives Program</h2>
    <ul class="wage-rates-details">
        <li> Lessons with kids under 6: <span class="pull-right bonus-amount">+$5 hourly bonus</span></li>
        <li> Lessons in the rain:       <span class="pull-right bonus-amount">+$5 hourly bonus</span></li>
        <li> Private Requests:      <span class="pull-right bonus-amount">+$10 hourly bonus</span></li>
        <li> Plus instructors always keep 100% of tips!</li>
    </ul>
</div>
