<% title 'Apply as an Instructor' %>
<% meta_tag :description, "Snow Schoolers instructors get 100% schedule flexibility, higher average earnings and tips, and access to modern client communication tools that allow you to cultivate a loyal following of clients." %>

<section id="recruiting-landing-page" class="top-section navy-text">
    <ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
            <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3-us-west-1.amazonaws.com/snowsports/backcountry-jackson-hole-hero.jpg'); height: 100%; width: 100%;" data-href=""    
            </div>
    </ul>
<div class="container">
 <div class="row white-transparent-bg">
    <h1 id="homeHeading" class="center home-header">Become a <b>PROFESSIONAL</b> Instructor in <b>4 DAYS</b>, for $300<br>
        <span class="smaller-text">Minimum wage for non-certified instructors is typically $11/hr in Tahoe.</span>
        <br>
        <span class="smaller-text">At Snow Schoolers, all instructors are certified, and earn >$16/hr + tips.</span>
        <br>
        <span class="smaller-text">We also ski for free, and only teach private lessons!</span>
    </h1>

    <!-- <h1 class="center bold recruiting-sub-header">Become a Professional Instructor in just 4 days, for $300.</h1> -->
    <h3 class= "center">Only <span class="strikethrough">2</span> 1 spot remains for this season's Accelerated Ski Instructor Program.</h3>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ul>
                <li>Part I:  Nov 18th/19th at Mt. Rose, 9am - 4pm </li>
                <li>Part II: Dec 1st/2nd at Homewood, 9am - 4pm</li>
                <li>(weather permitting): Dec 8th/9th at Homewood, 9am - 4pm</li>
            </ul>
        </div>
    </div>
    <h3 class= "center row"> Sign up now to reserve your spot!</h3>

</div>
<h1 class="center">    
    <a href="#instructor_first_name" class="btn btn-primary btn-xl page-scroll powder-btn">Get Started</a>
</h1>
<div class="col-md-12 white-transparent-bg">
    <div id="recruiting-Carousel" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ol class="carousel-indicators hidden">
            <li data-target="#recruiting-Carousel" data-slide-to="0" class="active"></li>
            <li data-target="#recruiting-Carousel" data-slide-to="1"></li>
            <li data-target="#recruiting-Carousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
              <h1 class="navy-text center padding-top">Tahoe's Best Accelerated Ski Instructor Certification Program. </h1>
          </div>

          <div class="item">
              <h1 class="navy-text center padding-top">4 Days of Training with Tahoe's Top Trainers.</h1>
          </div>

          <div class="item">
              <h1 class="navy-text center padding-top">Earn your level 1 Homewood Teaching Academy certification.</h1>
          </div>

          <div class="item">
            <h1 class="navy-text center padding-top">
                Master the foundation necessary to pass your PSIA level 1 exam.
            </h1>
          </div>
        </div>
    </div>
</div>
<div id= class="col-md-12 col-xs-12 black-transparent-bg">
    <div class="buffer"></div>
</div>

<div class="row col-md-10 col-md-offset-1 col-xs-12 white-transparent-bg">                    
    <%= render partial: 'instructors/hta_form' %>
</div>

</section>


<section class="navy-bg small">
    <div class="container text-center">
        <div class="call-to-action vertical-padding">
            <h1 class="white-text">About Snow Schoolers</h1>
            <h3 class="white-text">
             Snow Schoolers is a technology platform that connects ski and snowboard professionals with students and resort partners. We make booking lessons online as easy as hailing an Uber, provide flexibility and entrepreneurial opportunity for our instructors, and we enable our resort partners to grow their businesses.
         </h3>
     </div>
 </div>
</section>
