<section class="bg-white">
  <div class="container">
	<h1 class="center">
		Extenuating Circumstances Cancellation Policy
	</h1>
	<p>
	We may be able to give you a full refund (waive the $50  cancellation penalty) if you have to cancel because of an unexpected circumstance that’s out of your control. Below is a list of circumstances covered by our Extenuating Circumstances Policy. Before you cancel, check that your circumstance is included in the list below and that you can provide the required documentation.	
	</p>

	<h2 class="underline">Extenuating Circumstances that require documentation:	</h2>
	<ul>
		<li>
			<b>Death</b> - of a host, guest, or their co-host, additional guest, immediate family member, or caregiver. You’ll be asked to provide one of these documents:
			<ul>
				<li>Death certificate</li>
				<li>Obituary</li>
				<li>News article naming the deceased</li>
				<li>Police report</li>
			</ul>
		</li>
		<li>
			<b>Power outages or mechanical breakages</b> that affect ski area operations (such as ski lifts breaking) for more than 50% of the lesson reservation.
		</li>
		<li>
			<b>Unexpected serious illness or injury</b> affecting a host or member of the traveling party. You’ll be asked to provide a statement from a physician confirming that the person can't host or travel due to an unexpected, serious illness or injury. The statement must be also dated after the reservation was booked and provided within 14 days of cancellation. At this time, pre-existing conditions known to the user at the time of booking are not covered by our Extenuating Circumstances Policy.

		</li>
		<li>
			<b>Travel restrictions</b> imposed by a government, law enforcement agency, or military that restrict travel to or from the listing or experience location.
		</li>	
		<li>
			<b>Transportation disruptions </b> that make it impossible to reach your lesson reservation location, including road closures and flight cancellations where there are no alternative methods of travel. This includes closures and cancellations caused by natural disasters, such as earthquakes or severe storms. You’ll be asked to provide a notice of the road closure, or documentation from the airline that the flight was cancelled and supporting documentation confirming that it's not possible to travel to your destination.
		</li>
		<li>
			<b>Government-mandated obligations</b> including jury duty, travel restrictions, court appearances, and military deployment. You'll be asked to provide a copy of the official notice dated after the reservation was booked, including the name of the person fulfilling the obligation.
		</li>
		<li>
			<b>Natural disasters, terrorist activity, and civil/political unrest </b> that prevent the guest from traveling to or from the destination, or that make it unsafe to host guests.
		</li>
		<li>
			<b>Safety and security threat advisories </b> issued for the ski area location of your reservation.
		</li>
	</ul>
	</div>
</section>
<ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
    <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3.amazonaws.com/snowschoolers/images/demo/slider/thredbo-sunrise.jpg'); height: 100%; width: 100%;" data-href=""
    </div>
</ul>
