<% title 'Get Started' %>
<% meta_tag :description, "We are re-inventing the ski school industry, on mountain at a time." %>

<section id="recruiting-landing-page" class="top-section">
    <ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
        <div class="mc-image" title="background photo" style="background-image: url('https://static.evo.com/content/travel-guides/wyoming/jackson-hole/tram-03.jpg'); height: 100%; width: 100%;" data-href="">
            <!-- https://www.evo.com/travel-guides/ski-snowboard/wyoming/jackson-hole -->
        </div>
    </ul>

    <div class="" id="question1">
        <div class="prompt-box col-md-12 col-xs-12 white-transparent-bg">
            <h3 class="center intro-questions">
                What's the biggest frustration you've experienced as a professional snowsports instructor?
            </h3>
           <h4 class="center">
               <a href="#next" id="submit-question1a" class="amp-button amp-button-small page-scroll">Low Pay</a>
               <a href="#next" id="submit-question1b" class="amp-button amp-button-small page-scroll">Inconsistent Hours</a>
               <a href="#next" id="submit-question1c" class="amp-button amp-button-small page-scroll">Groups of 10+</a>
               <a href="#next" id="submit-question1d" class="amp-button amp-button-small page-scroll">No Career Growth</a>
               <a href="#next" id="submit-question1e" class="amp-button amp-button-small page-scroll">Bad Supervisors</a>
               <a href="#next" id="submit-question1f" class="amp-button amp-button-small page-scroll">Bad Tips</a>
           </h4>
        </div>                
    </div>

    <div class="hidden" id="question2">
        <div class="prompt-box col-md-12 col-xs-12 navy-transparent-bg">
            <h3 class="center intro-questions white-text">
                Would you like to earn $2,500/month next winter guaranteed?
            </h3>
           <h4 class="center">
               <a href="#next" id="submit-question2" class="amp-button amp-button-small page-scroll">Of course</a>
               <a href="#" id="submit-question2b" class="amp-button amp-button-small page-scroll">No, I hate money</a>
               <span class="hidden white-text" id="thinking-face"><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/155/thinking-face_1f914.png" height="50" /> <br>...try again...
               </span>
           </h4>
        </div>                
    </div>        

    <div class="hidden" id="question3">
        <div class="prompt-box col-md-12 col-xs-12 white-transparent-bg">
            <h3 class="center intro-questions">
                Would you like to earn a free '19/20 Ikon Pass with access to 38 iconic destinations?
            </h3>
           <h4 class="center">
               <a href="/apply" id="submit-question3" class="amp-button amp-button-small page-scroll">Yes please</a>
               <a href="#" id="submit-question3b" class="amp-button amp-button-small page-scroll">No thanks</a>
               <span class="hidden" id="thinking-face3b"><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/155/thinking-face_1f914.png" height="50" /> <br>...c'mon really?
               </span>
           </h4>
        </div>                
    </div>

    <div class="hidden" id="apply-form"> 
            <div class="col-md-12 col-xs-12 white-transparent-bg mobile-no-padding">                    
                <div class="col-md-12">
                    <%= render partial: 'instructors/ikon_form' %>
                </div>
            </div>                
    </div>
    
</section>

<section class="bg-navy small">
    <div class="container text-center">
        <div class="call-to-action">
               <a href="/apply" class="amp-button page-scroll hidden-unless-desktop">Apply Now</a>
               <h4 class="white-text email-us">
                Questions? Email us at <a href="mailto:hello@ikoninstructors.com">hello@ikoninstructors.com</a>
               </h4>

        </div>
    </div>
</section>

  