<ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
            <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3-us-west-1.amazonaws.com/snowsports/backcountry-jackson-hole-hero.jpg'); height: 100%; width: 100%;" data-href=""    
            </div>
</ul>

<div id="middle" class="container">
  <div class="white">

    <header class="page-header">
      <h3>Thanks for <strong>booking & completing your digital waiver!</strong> </h3>
    </header>

      <div class="row">

        <% if session[:ticket_reservation_id] %>
          <div class="col-md-12">
             <h2>You're now ready to book your reservation. Click below to review your reservation details and pay by credit card.</h2>
              <h1 class="center">
                <a href="/tickets/<%= session[:ticket_reservation_id] %>" class="btn sign-up-btn btn-xl btn-primary">Proceed to Payment</a>
              </h1>            
          </div>
        <% end %>

        <div class="col-md-6" class="white-transparent-bg navy-text">

          <p>Practice safely stopping with your hands and feet at down at the bottom of the hill, so you don't end up like these guys:</p>
          <iframe src="https://giphy.com/embed/XynMrqcYUmmWOMOJE8" width="100%" height="260" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/theyetiadventures-trailer-the-yeti-adventures-XynMrqcYUmmWOMOJE8"></a></p>

        </div>


      </div>


    <header class="page-header">
      <h3>Be <b>SAFE</b>, and have fun out there! </h3>
    </header>


    <hr />

    <!-- CALLOUT -->
    <div class="alert alert-default fade in">

      <div class="row">

        <div class="col-md-9 col-sm-8"><!-- left text -->
          <h4 class="nomargin">Contact <strong>Customer Support</strong></h4>
          <p class="nomargin">
            If you're looking for more help or have a question to ask, please contact us.
          </p>
        </div><!-- /left text -->


        <div class="col-md-3 col-sm-4 text-right"><!-- right btn -->
          <a href="mailto:hello@snowschoolers.com" target="_blank" class="btn btn-primary btn-lg">CONTACT</a>
        </div><!-- /right btn -->

      </div>

    </div>
    <!-- /CALLOUT -->


  </div>
</div>


<!-- SLIDER -->

<ul id="slider">
  <li><img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/chamonix-skiing.jpg" alt="" /></li>
</ul>
<!-- /SLIDER
