<p id="cancellation-policy" class="nonrefundable_disclaimer left">
  <span class="cancellation-title">Cancellation Policy</span>
  <br>
    You may cancel or modify your ticket reservation up to 24 hours before the day of your tickets. Given the capacity constraints we expect to have in place all season, there will be $25 non-refundable deposit with all reservations however. That $25 will not be returned for customer-initiated cancellations. If your plans change and you need to reschedule (but not cancel) we allow one reservation date change free of charge, after which additional requests to reschedule require a $25 change fee. Additionally, any requests to cancel made less than 24 hours beforehand will not be refunded, regardless of weather conditions. A no-call/no-show will likewise not be refunded. 
    <br>
    <br>
     Finally, we acknowledge that some things are beyond anyone's ability to control, such as government-mandated shutdowns. If cancellation is necessary due to circumstances described in our <a class="contact-link" target="_blank" href="/extenuating-circumstances">extenuating circumstances policy</a>, you may be eligible for a full refund including the $25 deposit. If for any reason you are unsatisfied with your Snow Schoolers experience, please <a class="contact-link" target="_blank" href="mailto:hello@snowschoolers.com">contact our guest services team</a> directly.
</p>
