<p id="cancellation-policy" class="nonrefundable_disclaimer left">
  <span class="cancellation-title">Cancellation Policy</span>
  <br>
    You may cancel or modify your reservation up to 24 hours before the lesson start time. A $50 non-refundable deposit is included as part of all reservations however, and that charge will not be returned for customer-initiated cancellations. For requests to reschedule, one lesson reservation change is permitted free of charge, after which additional requests to reschedule require a $50 change fee. Additionally, any requests to cancel made less than 24 hours before the lesson start time will not be refunded, regardless of weather conditions. A no-call/no-show will likewise not be refunded. 
    <br>
    <br>
     Finally, if cancellation is necessary due to circumstances described in our <a class="contact-link" target="_blank" href="/extenuating-circumstances">extenuating circumstances policy</a>, you may be eligible for a full refund including the $50 deposit. If for any reason you are unsatisfied with your Snow Schoolers experience, please <a class="contact-link" target="_blank" href="mailto:hello@snowschoolers.com">contact our guest services team</a> directly.
</p>
