<ul>
	<li>
		<b>Masks</b> - I will wear a face covering on the ski and sled hill at all times. This includes both indoor and outdoor spaces, except when eating or drinking.		
	</li>
	<li>
		<b>Social Distancing</b> - I will physically maintain at least 6 feet from other guests.
	</li>
	<li>
		<b>Hygiene</b> - I will wash my hands with soap and warm water for at least 20 seconds before and after using shared spaces like restrooms.
	</li>
	<li>
	    <b>Symptoms</b> If I am not feeling well at all, I will stay home.		
	</li>
</ul>