<div class="liability-text">
<p>
In consideration of the services of Snow Schoolers Inc., their agents, owners, officers, volunteers, employees, and all other persons or entities acting in any capacity on their behalf (hereinafter collectively referred to as "SSI"), I hereby agree to release, indemnify, and discharge SSI, on behalf of myself, my spouse, my children, my parents, my heirs, assigns, personal representative and estate as follows:
<br>
1. I acknowledge that my participation in sledding, snowshoeing, backcountry and/or cross-country skiing and the use of the Magic Carpet entails known and unanticipated risks that could result in physical or emotional injury, paralysis, death, or damage to myself, to property, or to third parties. I understand that such risks simply cannot be eliminated without jeopardizing the essential qualities of the activity.
<br>
<br>
<b>The risks include, among other things:</b>
 hidden obstacles by snow including ice and snow cornices, tree wells, tree stumps, creeks rocks and boulders, below the snow surface; loss or damage to equipment being used; being lost or separated from their guides or companions by traveling in forested areas, rugged terrain, or bad weather; exposure to temperature and weather extremes which could cause cold shock, hypothermia, hyperthermia (heat related illnesses), heat exhaustion, sunburn, dehydration; the risk of altitude and cold including hypothermia, frostbite, acute mountain sickness, cerebral and pulmonary edema; exposure to potentially dangerous wild animals; transmissible pathogen or disease; my own physical condition, and the physical exertion associated with this activity. Weather and altitude canbeextremeandcanchangerapidlywithoutwarning. Theareasmaynothavebeentraveledpreviouslyandarenotregularlypatrolled. Natural forces including steepness of slopes, snow depth, instability of snow pack or varying and difficult weather and snow conditions may cause avalanches. Communication in this mountain terrain is always difficult and in the event of an accident, rescue and medical treatment may not be immediately available.
<br>
<br>
Furthermore, SSI personnel have difficult jobs to perform. They seek safety, but they are not infallible. They might be unaware of a participant's fitness or abilities. They might misjudge the weather or other environmental conditions. They may give incomplete warnings or instructions, and the equipment being used might malfunction.
<br>
2. I expressly agree and promise to accept and assume all of the risks existing in this activity. My participation in this activity is purely voluntary, and I elect to participate despite the risks. I agree to wear a properly fitted and secured DOT or SNELL certified helmet while participating in this activity.
<br>
<br>
3. I hereby voluntarily release, forever discharge, and agree to indemnify and hold harmless SSI from any and all claims, demands, or causes of action, which are in any way connected with my participation in this activity or my use of SSI’s equipment or facilities, 
	<b> including any such claims which allege negligent acts or omissions of SSI.</b>
<br>
<br>
4. Should SSI or anyone acting on their behalf, be required to incur attorney's fees and costs to enforce this agreement, I agree to indemnify and hold them harmless for all such fees and costs.
<br>
<br>
5. I certify that I have adequate insurance to cover any injury or damage I may cause or suffer while participating, or else I agree to bear the costs of such injury or damage myself. I further certify that I am willing to assume the risk of any medical or physical condition I may have.
<br>
<br>
6. In the event that I file a lawsuit against SSI, I agree to do so solely in the state of California, and I further agree that the substantive law of that state shall apply in that action without regard to the conflict of law rules of that state. I agree that if any portion of this agreement is found to be void or unenforceable, the remaining document shall remain in full force and effect.
<br>
<br>
By signing this document, I acknowledge that if anyone is hurt or property is damaged during my participation in this activity, I may be found by a court of law to have waived my right to maintain a lawsuit against SSI on the basis of any claim from which I have released them herein. I also agree that this document is valid for subsequent visits and participation at SSI. I have had sufficient opportunity to read this entire document. I have read and understood it, and I agree to be bound by its terms.
<br>
THIS IS A RELEASE OF LIABILITY. DO NOT COMPLETE THIS RESERVATION UNLESS YOU AGREE TO BE BOUND BY ITS TERMS.
</p>
</div>