<div class="liability-text">
<p>
ASSUMPTION OF RISKS: In executing this agreement on behalf of myself and/or on behalf of my minor children (collectively “I” or “my”), I understand and am aware that snow sledding, skiing, snowboarding, cross-country skiing and snowshoeing (“Winter Sports”) are HAZARDOUS ACTIVITIES and involve the risk of injury or death. I understand that the Winter Sports and the use of snow saucers and other Winter Sports equipment involves a risk of injury and death. Despite the risks, I freely and expressly assume any and all risks of injury or death while participating in the Winter Sports activities and use of the facilities.
<br>
<br>
RELEASE OF LIABILITY: In consideration of being allowed to use the area facilities and premises at Snow Schoolers, Inc., and specifically in exchange for the opportunity to purchase a ticket from Granlibakken Management Company I agree to release Granlibakken Management Company, Limited, and its agents, employees, directors, officers, owners and shareholders (collectively “Granlibakken”) from any and all liability for personal injury, death or property damage which results in any way from conditions on or about the premises and facilities, the operations, actions or omissions of employees or agents of the area, or in any way arising from my participation in Winter Sports activities and use of the facilities including the alleged negligence of Granlibakken and its employees. I acknowledge that I am freely and expressly assuming and accepting any and all risks of property damages, personal injury or death as the user of this equipment and facilities at Granlibakken.
<br>
<br>
INDEMNIFICATION: I agree to hold harmless, release, defend and indemnify Granlibakken or any and all loss or damage I may sustain or cause to person or property while engaged in Winter Sports activities. This includes, but is not limited to, any and all claims for personal injury, death and/or property damage that may arise out of participation in Winter sports or the use of the Granlibakken premises, or any equipment, regardless of whether such loss or damage be caused to myself or to others.
<br>
<br>
EQUIPMENT RENTAL: I accept for use, as is, the equipment on this form and accept full responsibility for its care while in my possession. I agree to hold harmless, release, and indemnify Granlibakken for all loss or damage I may cause to this equipment, except reasonable wear and tear.
<br>
I agree that there have been no warranties, expressed or implied, which have been made to me beyond the information written on this form. I, the undersigned, acknowledge that I have read this Assumption of Risk, Release of Liability and Indemnification Agreement and I understand its contents. I understand that my signature below expressly waives any rights I may have to sue Granlibakken for injuries, death, loss or damages.

<br>
<br>
PROHIBITION OF USE OF MULTIPLE SAUCERS: I understand and am aware that the snow saucer furnished could be HAZARDOUS to my well-being while snow sledding. I understand that connecting two or more saucers together or creating a chain of saucers is not permitted for safety reasons.
<br>
<br>
CHOICE OF LAW: I CONTRACTUALLY AGREE that any and ALL DISPUTES between myself and Granlibakken arising from my participation in the Winter Sports, use of the facilities or use of this equipment, and INCLUDING any claims for personal injury and/or death, WILL BE GOVERNED BY THE LAWS OF THE STATE OF CALIFORNIA and EXCLUSIVE JURISDICTION thereof will be in the state court residing in Placer County where the alleged tort occurred or the federal courts of the occurred or the federal courts of the State of California.
<br>
<br>
SEVERABILITY: IN THE EVENT ANY SECTION OF THIS RELEASE IS FOUND TO BE UNENFORCEABLE, THE REMAINING TERMS SHALL BE FULLY ENFORCEABLE. THIS RELEASE SHALL BE BINDING TO THE FULLEST EXTENT PERMITTED BY LAW. The release shall be binding upon my assignees, subrogors, distributes, heirs, next-of-kin, executors, personal representatives, and administrators and may be pled by Granlibakken as a complete bar and defense against any claim, demand, action or causes of action by or on behalf of the Renter. I have read the above paragraphs and fully understand them. I have made no representations to Granlibakken regarding my name, address or age.
<br>
THIS IS A RELEASE OF LIABILITY. DO NOT SIGN IT UNLESS YOU AGREE TO BE BOUND BY ITS TERMS.
</p>
</div>