<div id="middle" class="container">
	<div class="white">

		<h1>What's the difference between ability Level and Rental Equipment Skier Type?</h1>
		<ul>
			<li>Ability levels 1-9 are determined by the PSIA-AASI, the certifying body for ski and snowboard instructors in the United States. Levels are used to assess student abilities and determine skills-appropriate training techniques and progressions.</li>
			<li>Skier Types I, II, and III (and sometimes III+) are not used by instructors at all, but are instead used by rental techniciants to determine how conservative or aggressive to set the release tension on ski bindings. Your ski bindings are built to automatically release your boots during a fall so that you do not further injure yourself. </li>
			<ul>
				<li>Type I is generally recommended for beginners (level 1-4 skiers), and is the most conservative. With this setting, your bindings will almost always release anytime that you fall to the ground.</li>
				<li>Type III is the most aggressive or stiff setting, and means that only in very violent falls will the bindings release. This is desirable for advanced skiers who are often taking hard landings off of jumps or while racing, and want to make sure that their skis do not fall off prematurely.</li>
				<li>Type II is in between, and is recommended for intermediate skiers generally. If you have any previous knee, ankle, or back injuries, it is recommended to choose Type I.</li>
			</ul>
			<li>Still not sure what's best for you? For more information <a href="https://www.skis.com/Determining-Your-Skier-Type/article-10-17-2012,default,pg.html" class="navy-link">here</a>. </li>
		</ul>
	</div>
</div>