<% title 'Advance Purchase Sledding Tickets' %>
<% meta_tag :description, "Easily book a private ski or snowboard lesson with our fleet of expert, certified instructors. Snow Schoolers is an online platform for private lessons. You can easily browse profiles & reviews, then book a private ski or snowboard lesson  with our fleet of expert, certified instructors. We collaborate closely with each of our ski area partners to ensure a consistent brand experience while maximizing the financial return of ski school operations to the mountain." %>

<div id="middle" class="container">
  <div class="white">

    <div id="lesson-flow-background">
      <!-- <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg" class="bg-photo" alt="" /> -->
    </div>

    <div class="new-lesson-container">

      <section id="book-a-lesson" class="pricing-section">
        <div id="lesson-flow-background">
          <div class="homepage-lesson-container center" id="private-request">
            <%= render partial: "lessons/lesson_tickets_form" %>
          </div>
        </div>
      </section>


      <section class="hidden-unless-mobile mobile-call-cta">
        <div class="new-lesson-call-cta">
          <h1 class="center">QUESTIONS?</h1>
          <p class="white-text center">Call Us Today!
            <br>
            <i class="fa fa-phone fa-3x sr-contact"></i>
            <br>
          (530)430-SNOW</p>
        </div>
      </section>
      <div class="buffer hidden-unless-desktop"></div>

    </div>

  </div>
</div>
