.calendar-container{
	max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}
#instructor-availability {
	font-size: 3.5em;
	margin-bottom: 0px;
}
.calendar-title{
	font-size: 2.8em;
	margin-top: 20px;
}
.calendar-chevrons{
	font-size: 2.5em;
	vertical-align: top;
	font-weight: bold;
}
.availability-open{
	background-color: rgba(40, 167, 69, .7);
	border-color: rgba(40, 167, 69, .7); 	
	border: 10px;
	height: 100%;
}
.availability-blocked{
	background-color: rgba(220, 53, 69, .4);
	border-color: rgba(220, 53, 69, .4);
	border: 10px;	
	height: 100%;
}
.availability-booked{
	background-color: rgba(59, 89, 152, .7);
	border-color: rgba(59, 89, 152, .7);
	border: 10px;	
	height: 100%;
}
.admin-calendar-day{
	/*background-color: rgba(59, 89, 152, .7);*/
	max-height:50px;	
	display: inline;
    margin-right: 5px;
}
.admin-calendar-day a {
	color: #fff;	
}
.day-summary{
	width:100%;
	display: block;
}
.date-number{
	color: #3b5998;
	font-weight: bold;
}
.simple-calendar th{
	width: 12% !important;
}
.simple-calendar .day {
	height: 100px;
    width: 12vw !important;
}
.toggle-availability, .toggle-availability:hover, .toggle-availability:visited, .toggle-availability:focus{
	color: #fff;
	text-decoration: none;
}
/*.toggle-availability:visited {
	color: #fff;
}*/
.block-text{
	vertical-align: middle;
	font-size: 1.2em;
	margin: 0px 0px 0px 0px;
}
.simple-calendar .day{
	padding: 0 2 0 0px;
}
.example-date{
	height: 80px;
	width: 130px;
	display: inline-block;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	font-size: 1.2em;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
}
.calendar-subheader{
	margin-top: 5px;
	margin-bottom: 5px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-right:before {
    content: "\e080";
}
.glyphicon-chevron-left:before {
    content: "\e079";
}