.kv-skiing-not-yet-open{
  font-size: 1.4em;
  color:yellow;
}
body.lessons-this-season{
    overflow: hidden;
    width: 100%;
}
.liability-text p {
  font-size: 0.9em;
}

.btn-fixed-width{
  max-width: 125px;
}
.btn-airbnb{
  background-color: #FF5A5F !important;
  color: #fff;
}
section.lesson-new-form-header{
  min-height: 100px !important;
}
.daily-roster-section-break{
  background-color: gray;
  color: #fff;
  font-size: 1.2em;
  /*padding-left: 40px !important;*/
}
.daily-roster-section-break.year-ago{
  background-color: lightgray;
  color: #000;
  padding-left: 40px !important;
}
.date-input{
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.booking-details p, .booking-details span, .booking-details{
  font-size: 1.1em;
  margin-bottom: 5px;
}
.lodging-discount-warning, .lodging-discount-warning p{
  font-style: italic;
  font-size: 0.8em;
}
.full-width{
  width:100%;
}
.student-list-confirm-reservation li{
  font-size: 0.8em;
  padding: 0 0 0 0px;
}


.full-form-section-header{
  text-transform: uppercase;
  font-weight: bold;
}
form{
  text-align: left;
}
#book-a-lesson{background-color:#d8d8d8;}
#book-a-group-lesson{background-color:white;}
#group_prices_simple{background-color:white;}
.white-bg {background-color:white;}
.confirmation-number{

}
.lesson-summary-info{
  margin-left: 40px;
}
.medium-text p{
  font-size: 1.5em;
}
.form-control:visited{
  color:white;
  }
.spacer{
  min-height:50px;
  clear:both;
}
.sledding-table{
  padding: 5 5 5 5px;
  border: 3px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}
.instructors-table{
  padding: 5 5 5 5px;
  border: 1px solid gray;
  margin-top: 20px;
  margin-bottom: 20px;
}
.instructors-table tbody tr td, .instructors-table thead tr th, .sledding-table tbody tr td, .sledding-table thead tr th {
    padding-left: 20px;
    font-size: 0.9em;
}
.instructors-table thead, .sledding-table thead {
  font-size: 1.3em;
  border: 1px solid gray;
  background-color: rgba(0,60,128,0.3);
}
.complete-payment{
}
.payment-amounts{
  font-size: 1.2em;
  left: -20px;
  position: relative;
  width: 100%;
  text-align: left;
}
.new-lesson-ctas-list li{
  display: inline-block;
  list-style-type: none;
}
.update-lesson-form{
  display: flex;
  align-items: flex-end;
}
.lesson-label{
  padding-left: 3px;
  width: 100%;
  text-align: left;
}
.lesson-label-small{
  font-size: 10px;
  font-weight: lighter;
}
#browser-instructors-cta, #lesson_submit_action{
  position: relative !important;
}
#lesson_students_attributes_0_other_sports_experience {
  max-height: 100px;
}
.preSeasonModal{
  padding: 20px 20px 20px 20px !important;
}
#smartwaiver_floater{
    position: fixed !important;
    height: 100px !important;
    width: 100vw !important;
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    line-height: 28px;
}

#booking-details-container{
  display: flex;
  justify-content: center;
}
.booking-details-labels{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px;
}
.booking-details-labels p{
  font-size: 15px;
  margin-bottom: 5px;
  line-height: 0;
}
.booking-details{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding: 20px;
  margin-left: 0;
}


.final-booking-details{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  max-width: 600px;
  padding: 40px;
}
.booking-details p{
  font-size: 15px;
  margin-bottom: 5px;
  text-align: left;
}
.info-container{
  display: flex;

}
#lesson-details-header{
  margin-left: 40px;
  font-weight: bold;
}
.details-info-box{
  width: 90vw;
  max-width: 700px;
}
.details-info-box h3{
  font-weight: bold;
}
.student-box{
  margin-bottom:20px;
}
#full-details-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.duration-and-feedback{
  display:block;
  position: relative;
  font-size: 1.2em;
}
.text-smaller{
  font-size: 0.9em;
}
.text-larger{
  font-size: 1.2em;
}

.time-slot-input{
  /*width: 11%;*/
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}
.guest-email-input{
  width: 23%;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}
.confirm-reservation h4{
  margin-top: 5px;
  margin-bottom: 5px;
}
.lesson-detail-topic{
    width: 250px;
    font-weight: bold;
    display: inline-block;
    font-family: 'Palanquin', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.1;
    font-size: 18px;
}
.student-detail-topic{
  width: 120px;
  display: inline-block;
}
.inline-block{
  display: inline-block;
}
.nonrefundable_disclaimer{
  font-size: 1em;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

}

.cancellation-title{
  font-weight: bold;
  font-size: 1.1em;
}


/*DESKTOP ONLY ADJUSTMENTS*/
@media (min-width: 768px) {
.payment-amounts{
  font-size: 1.6em;
  line-height: 1.6;
}
.booking-details{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
}

/*MOBILE ADJUSTMENTS*/
@media (max-width: 768px) {

.lesson-detail-topic{
    width: 60%;
    font-weight: bold;
    display: inline-block;
    font-family: 'Palanquin', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.1;
    font-size: 18px;
}

.booking-details p, .booking-details span, .booking-details{
  font-size: 1.1em;
  margin-bottom: 5px;
}
#booking-details-container .row{
  padding-top: 10px;
}

.lesson-index-mobile{
  width: 300% !important;
}
.lesson-summary-info{
  word-wrap: break-word;
  font-size: 1.3em;
  margin-left: 10px;
}
.booking-details-labels {
  align-items: center;
}
.booking-details-labels p {
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 1.5;
}
.booking-details p {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 1;
}

.instructors-table{
  padding: 2 2 2 2px;
  border: 1px solid gray;
  margin-top: 20px;
  margin-bottom: 20px;
}
.instructors-table tbody tr td, .instructors-table thead tr th {
    padding-left: 20px;
    font-size: 0.8em;
}
.instructors-table thead {
  font-size: 1.2em;
  border: 1px solid gray;
  background-color: rgba(0,60,128,0.3);
}
.lessons-table-cells{
  padding-left: 3px !important;
  padding-right: 3px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.lesson-type{
    width: 140px;
}
.lesson-student{
  width:100px;
}
.lesson-date{
  width: 30px;
}
.lesson-instructor{
  width: 60px;
}
.slot-details-mobile{
  font-size: 1.2em
}
#new_lesson{
  max-height:90vh;
}
#slider .caption{
  bottom: 0px;
  position: fixed;
}
.instructor-selection{
  max-height: 180px;
}
.instructor-photo{
  height: 120px;
}
h3{
    margin-top: 0px;
    margin-bottom: 15px;
}
#footer ul li a {
    display: block;
    margin: 0px 0 0 6px;
    font-size: 0.7em;
}
#footer {
  padding: 0px 5px 0px 5px;
}
#footer ul {
  bottom: 3px;
  position: relative;
  float: none;
  margin: auto;
}
#footer{
  height: 25px;
}
.time-slot-input{
  width: 100%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}
.guest-email-input{
  width: 100%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}
.new-lesson-container {
    width: 100%;
}


}
